.player {
    border-radius: 40px;
    width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background: none;
}

.player > div:not(.slider) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player svg {
    margin: 0.5em;
}

.player .buttons div {
    margin: 0.5em;
    border: 1px solid;
    width: 5em;
    position: absolute;
}

.player span {
    color: white;
    font-family: "Satoshi", sans-serif;
    font-weight: 300;
}

.bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.slider {
    position: relative;
    width: 280px;
    height: 2px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin: 0.5em;
    flex: 0 0 280px;
    background-color: rgba(255, 255, 255, 0.6);
}
