/* GENERAL LAYOUT */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 0.4s ease;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 1rem 2rem 1rem;
    transition: background 0.3s ease;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

/* EDIT BUTTON */
.edit-button {
    position: fixed;
    bottom: 1em;
    left: 1em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s ease;
}

.edit-button:hover {
    opacity: 0.85;
    font-size: 1.1rem;
}

/* PLAYLIST TITLE */
.playlist-title-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.playlist-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
    color: white;
}

/* Pencil icon */
.rename-button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s ease;
}

.rename-button:hover {
    opacity: 1;
    transform: scale(1.1);
}

.playlist-title-input {
    font-size: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
    outline: none;
}

/* THEME SWITCHER BUTTON */
.theme-select-container {
    margin-bottom: 20px;
}

.theme-btn {
    padding: 12px 20px;
    background: rgba(255,255,255,0.18);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: 0.25s ease;
}

.theme-btn:hover {
    background: rgba(255,255,255,0.3);
}


.dark-mode h1,
.dark-mode span,
.dark-mode p,
.dark-mode button,
.dark-mode .playlist-title {
    color: white !important;
}

.dark-mode svg,
.dark-mode img.icon {
    filter: invert(0);
}


.light-mode h1,
.light-mode span,
.light-mode p,
.light-mode button,
.light-mode .playlist-title {
    color: black !important;
}


.light-mode svg,
.light-mode img.icon {
    filter: invert(1);
}


.light-mode .progress-bar-track {
    background: rgba(0,0,0,0.3) !important;
}

.light-mode .progress-bar-fill {
    background: black !important;
}


.light-mode .track-title,
.light-mode .track-artist {
    color: black !important;
}


.light-mode .icon-btn svg {
    stroke: black !important;
}
