@import url("https://fonts.cdnfonts.com/css/satoshi");

:root {
    --_gradient-blend-mode: normal;
    --_gradient-blur: 0px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Satoshi", sans-serif;
    color: #fff;
    font-weight: 300;
}

* {
    font-family: "Satoshi", sans-serif;
}

body {
    background: radial-gradient(at 91% 17%, #5285f3 0px, transparent 50%),
        radial-gradient(at 86% 44%, #7052f3 0px, transparent 50%),
        radial-gradient(at 88% 39%, #c052f3 0px, transparent 50%) #030303;
    mix-blend-mode: var(--_gradient-blend-mode);
}

.frosted-backdrop {
    backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
    -webkit-backdrop-filter: blur(var(--_gradient-blur)) contrast(100%)
        brightness(100%);
}
